<h1>HELLO WORLD</h1>

  <% @products.each do |product|  %>
    <div><%= product.id %></div>
  <% end %>



<h2>orders</h2>
<p>HELLOOOOO</p>

 <% @orders.each do |order|  %>
    <div><%= order.id %></div>
  <% end %>


<% console %>
